<nav>
    <ul>
        <li>
            {{!-- TODO: Create a /home/ route --}}
            <a href="/home/">Home</a>
        </li>
        <li>
            <a href="/bets/">My Bets</a>
        </li>
        <li>  
              {{!-TODO: create /football/ route-  --}}
            <a href="/football/">Football</a>
        </li>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
</nav> 