<h3>Add Bet</h3>
<div class="row">
    <form action="/bets/test" method="POST" class="col s12 test-yellow">
        <div class="row">
            <div class="input-field">
                <input type="text" id="fixtureID" name="fixtureID" required>
                <label class="test-yellow" for="fixtureID">Fixture Id</label>

                {{!-- <input type="text" id="_id" name="example" required>
                <label class="test-yellow" for="example">Fixture Id example</label> --}}
            </div>
        </div>


        <div class="slidecontainer">
            <input type="range" min="0" max="15" value="1" class="slider" id="guessHomeScore" name="guessHomeScore">
            <p>Value: <span id="guessHomeScore1"></span></p>
        </div>

        <div class="slidecontainer">
            <input type="range" min="0" max="15" value="1" class="slider" id="guessAwayScore" name="guessAwayScore">
            <p>Value: <span id="guessAwayScore1"></span></p>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
{{!-- Sliders --}}
    {{!-- TODO: make oop --}}
    <script>
        var sliderHome = document.getElementById("guessHomeScore");
        var outputHome = document.getElementById("guessHomeScore1");
        outputHome.innerHTML = sliderHome.value;

        sliderHome.oninput = function () {
            outputHome.innerHTML = this.value;
        }

        var sliderAway = document.getElementById("guessAwayScore");
        var outputAway = document.getElementById("guessAwayScore1");
        outputAway.innerHTML = sliderAway.value;

        sliderAway.oninput = function () {
            outputAway.innerHTML = this.value;
        }
    </script>