<h3><i>🥦⚽Broccoli Bet</i></h3>
<div class="todo">
    <p class="todo">Friendly bets between friends on football results</p>
</div>
<div class="todo"></div>
<div class="todo">
    <a href="/auth/google" class="btn red darken-1">
        Log in with Google
    </a>
</div>