body {
    background-color: rgb(179, 155, 179);
}
.login-container {
    width: 45%;
    margin-top: 3.5em;
    text-align: center;
}
.test-yellow{
    color: yellow;
}
.input-field>label {
    color: yellow;
}
input[type=text]:not(.browser-default) {
    border-bottom: 1px solid white;
}
.fa-small {
    font-size: 1rem !important;
}